@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 66px;
  size: 30px;
}




body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  margin-top: 1px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 60px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #9DBFAF;
  font-size: 1.2em;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 100px;
  height: 60px;
  border: 3px solid #ed540d;
  border-right: none;

  background: #ed540d;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 16px;
}

.searchButton:hover {

  background: #00B4CC;
  border: 3px solid #00B4CC;
  transform: scale(1.2);
  transition: all .3s ease-in-out;
  transition: all .3s ease-in;

}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 60%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 8rem;

}


.card {

  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #ed540d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.card-title {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.card-footer {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
}

.btn {
  border: none;
  outline: none;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: rgb(48, 46, 46);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 0px;
  text-align: center;
}

.btn:hover {
  background-color: #ed540d;
  color: #fff;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}