<div class="toolbar" role="banner">
  <img width="100" srcset="https://tikusdelivery.com/static/media/redLogo.a1dfcaa2.svg" />
  <div class="spacer"></div>
</div>

<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="restaurantName"
      (keyup)="onKey($event)">
    <input type="text" class="searchTerm" placeholder="longitude" [(ngModel)]="longitude" hidden>
    <input type="text" class="searchTerm" placeholder="latitude" [(ngModel)]="latitude" hidden>
    <input type="text" class="searchTerm" placeholder="pageNumber" [(ngModel)]="pageNumber" hidden>
    <button type="submit" class="searchButton" (click)="searchData()">
      <i class="fa fa-search fa-2x"></i>
    </button>
  </div>


</div>
<ul class="nav nav-tabs mb-2 ml-5" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
      aria-controls="ex1-tabs-1" aria-selected="true" (click)="onClickDishes()">Dishes</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"
      aria-selected="false" (click)="onClickRestaurant()">Restaurants</a>
  </li>


</ul>

<div class="container" *ngIf="isRestaurant">
  <div class="row mt-5">
    <div class="col-md-4 mb-5" *ngFor="let item of results">
      <div class="card h-100">
        <img class="card-img-top" src="{{item.restaurantImage}}" alt="Card image cap">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <span class="card-title">{{item.restaurantName}}</span>
            <!-- display averageReview in bage -->
            <span class="badge badge-primary">{{item.averageReview}}</span>
          </div>
          <p class="card-text">
            <small class="text-muted">{{item.cuisines}}</small>
          </p>
        </div>

        <div class="card-footer">
          <!-- time with icon -->
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <i class="fa fa-clock" style="color: #ed540d;"></i>
              <small class="ml-1 text-muted">{{item.time}} mins</small>
            </div>
            <div class="d-flex justify-content-between align-items-center" *ngFor="let area of item.outlet">
              <i class="fa fa-map-marker " style="color:#006400;"></i>
              <small class="ml-1 text-muted">{{area.area}}</small>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isDishes">
  <div class="row mt-5">
    <div class="col-md-12 mb-4" *ngFor="let item of dishes">
      <div class="col-md-10 mb-4" *ngFor="let i of item.dishesList">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <img width="100" srcset="{{i.image}}" alt="Card image cap">
             
                <div class="row">
                  <span class="card-title ml-4"><b>{{i.name}}</b></span>
                  <span class="card-title ml-4" style="color: #00A300;"><b>{{i.price}} ETB</b></span>
                </div>
              </div>
                <!-- button with alert  -->
                <button type="button" class="btn" (click)="onClick()">
                  <i class="fa fa-cart-plus fa-2x"></i>
                </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>